<p id="notice"><%= notice %></p>

<h1>All Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= number_to_currency transaction.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>